html {
	background-color: #B0B0B1;
}

header {
	border: blue solid 2px;
	color: blue;
	text-align: center;
}

.rouge {
	color: red;
	text-align: center;
}

img {
	width: 100%;

}

p {
	font-size: 22px;
}